{% extends 'base.html' %}  

{% block head %}  
<title>Tugas Akhir Microdential</title>  
{% endblock %}  
    
{% block body %}  
  <div class="container-contact100">  
    <div class="wrap-contact100">  
      <form class="contact100-form validate-form" action="/" method="POST">  
        <span class="contact100-form-title">  
          Klasifikasi Status SMP Kota Bandung  
        </span>  
    
        <div class="wrap-input100 validate-input">  
          <span class="label-input100">Peserta Didik</span>  
          <input class="input100" type="text" placeholder="Masukan Jumlah Peserta Didik" name="peserta" id="peserta
          " required>  
          <span class="focus-input100"></span>  
        </div>  

        <div class="wrap-input100 validate-input">  
          <span class="label-input100">Rombongan Belajar</span>  
          <input class="input100" type="text" placeholder="Masukan Jumlah Rombongan Belajar" name="rombongan" id="rombongan
          " required>  
          <span class="focus-input100"></span>  
        </div>  

        <div class="wrap-input100 validate-input">  
          <span class="label-input100">Guru</span>  
          <input class="input100" type="text" placeholder="Masukan Jumlah Guru" name="guru" id="guru
          " required>  
          <span class="focus-input100"></span>  
        </div>  

        <div class="wrap-input100 validate-input">  
          <span class="label-input100">Pegawai</span>  
          <input class="input100" type="text" placeholder="Masukan Jumlah Pegawai" name="pegawai" id="pegawai
          " required>  
          <span class="focus-input100"></span>  
        </div>  

        <div class="wrap-input100 validate-input">  
          <span class="label-input100">Ruang Kelas</span>  
          <input class="input100" type="text" placeholder="Masukan Jumlah Ruang Kelas" name="kelas" id="kelas
          " required>  
          <span class="focus-input100"></span>  
        </div>  

        <div class="wrap-input100 validate-input">  
          <span class="label-input100">Ruang Lab</span>  
          <input class="input100" type="text" placeholder="Masukan Jumlah Ruang Lab" name="lab" id="lab
          " required>  
          <span class="focus-input100"></span>  
        </div>  

        <div class="wrap-input100 validate-input">  
          <span class="label-input100">Perpustakaan</span>  
          <input class="input100" type="text" placeholder="Masukan Jumlah Perpustakaan" name="perpus" id="perpus
          " required>  
          <span class="focus-input100"></span>  
        </div>  

        <div class="container-contact100-form-btn">  
          <div class="wrap-contact100-form-btn">  
            <div class="contact100-form-bgbtn"></div>  
            <button class="contact100-form-btn">  
              <span>  
                Klasifikasi Status Sekolah  
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>  
              </span>  
            </button>  
          </div>  
        </div>  
    
      </form>  
    </div>  
  </div>  
    
{% endblock %}  